nav li{
    display: inline-block;
    margin: 1px 15px;
    /* padding:0px 25px; */
    color: black;
    border-bottom: 1.5px solid #444;
    font-size: 20px;
    text-transform: uppercase;
}
body {
    width:1200px;
    margin: 10px auto;
    font-family: sans-serif;
}
p{
    text-align: justify;
}
nav{
    background-color: lightgrey;
    padding: 1px 0px;
}
nav ul{
    text-align: center;
}
h2{
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}
a{
    color:#444;
    text-decoration:none;
}
section{
    margin-top: 3px solid black;
}